/* Font size conversion

6pt	    8px	    0.5em	    50%
7pt	    9px	    0.55em	  55%
7.5pt	  10px	  0.625em	  62.5%
8pt	    11px	  0.7em	    70%
9pt	    12px	  0.75em	  75%
10pt	  13px	  0.8em	    80%
10.5pt	14px	  0.875em	  87.5%
11pt	  15px	  0.95em	  95%
12pt	  16px	  1em	      100%
13pt	  17px	  1.05em	  105%
13.5pt	18px	  1.125em	  112.5%
14pt	  19px	  1.2em	    120%
14.5pt	20px	  1.25em	  125%
15pt	  21px	  1.3em	    130%
16pt	  22px	  1.4em	    140%
17pt	  23px	  1.45em	  145%
18pt	  24px	  1.5em	    150%
20pt	  26px	  1.6em	    160%
22pt	  29px	  1.8em	    180%
24pt	  32px	  2em	      200%
26pt	  35px	  2.2em	    220%
27pt	  36px	  2.25em	  225%
28pt	  37px	  2.3em	    230%
29pt	  38px	  2.35em	  235%
30pt	  40px	  2.45em	  245%
32pt	  42px	  2.55em	  255%
34pt	  45px	  2.75em	  275%
36pt	  48px	  3em	      300%
*/

body {
  font: 1em/150% Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-size: 1.125em;
}

p { 
  margin: 1em 0; 
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover, 
a:active {
  color: red;
  text-decoration: underline;
}

#wrapper {
  margin:20px auto 10px 20px;
  width:960px;
  padding: 10px;
}

#header {
  width:800px;
}

#footer {
  margin-top:1em;
  padding-bottom: 2em;
  width:100%;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#wrapper {
		width: 94%;
	}
}

#header p, #footer p {
  margin:0;
  padding:0;
}

#wrapper, #header, #main, #footer {
	border: 1px solid #000;
}

.comment {
  font-family: 1em/150% "Courier New",Courier,monospace;
  color: green;
  white-space:nowrap;
}

.comment a:link, 
.comment a:visited {
  color: blue;
  text-decoration: none;
}

.comment a:hover, 
.comment a:active {
  color: red;
  text-decoration: underline;
}



.post-nav {
  margin-top:1em;
  margin-bottom:2em;
  font-family: "Courier New",Courier,monospace;
  text-align: right;
}

.page, 
.post {
  padding:1em 0;
}

.post-title {
  padding-bottom:0.5em;
  border-bottom: 2px solid #eee;
  font-size:1.125em;
  font-weight:bold;
}

.post li {
  margin-left: 1.5em;
}

.post-meta {
  font-size:0.875em;
  color:#888;
}

.listing-seperator,
.listing-item {
  list-style-type:none;
}

.cloud, .listing-seperator, .post-title {
  margin-top: 1em;
}

.listing-item span {
  font-size:0.95em;
  color: #999;
}

.listing-item a {
	padding-left: 0.5em;
}

.page-nav {
  margin-top: 2em;
  font-family: "Courier New",Courier,monospace;
}

.page-nav .current-page {
  color: red;
}

.highlight {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 0.5em;
  font-size: 0.95em;
}
