* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: #FFF;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 93.75%;
  line-height:150%;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  font-size: 1.07em;
}

p { 
  margin: 1em 0; 
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover, 
a:active {
  color: red;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

.wrapper {
  margin: 1em auto 1em 1em;
  width:45em;
}

.footer {
  margin-top:1em;
  padding-bottom: 1em;
}

.comment a:link, 
.comment a:visited {
  color: blue;
}

.comment a:hover, 
.comment a:active {
  color: red;
}

.comment, .page-nav, .post-nav {
  font-family: Courier, "Courier New", monospace;
  color: green;
}

.post-nav {
  margin-top:1em;
  margin-bottom:2em;
  text-align: right;
}

.post {
  padding:1em 0;
}

.post-title {
  padding-bottom:0.5em;
  border-bottom: 2px solid #eee;
  font-size:1.2em;
  font-weight:bold;
}

.post-meta {
  font-size:0.86em;
  color:#888;
}

.listing-seperator,
.listing-item {
  list-style-type:none;
}

.cloud, .listing-seperator, .post-title {
  margin-top: 1em;
}

.listing-item span {
  font-size:0.9em;
  color: #999;
}

.listing-item a {
	padding-left: 1em;
}

.page-nav {
  margin-top: 2em;
}

.page-nav .current-page {
  color: red;
}

/* highlight*/

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}
