/* Font size conversion

5px		0.3125em	31.25%
6px		0.3750em	37.50%
7px		0.4375em	43.75%
8px		0.5000em	50.00%
9px		0.5625em	56.25%
10px	0.6250em	62.50%
11px	0.6875em	68.75%
12px	0.7500em	75.00%
13px	0.8125em	81.25%
14px	0.8750em	87.50%
15px	0.9375em	93.75%
16px	1.0000em	100.00%
17px	1.0625em	106.25%
18px	1.1250em	112.50%
19px	1.1875em	118.75%
20px	1.2500em	125.00%
21px	1.3125em	131.25%
22px	1.3750em	137.50%
23px	1.4375em	143.75%
24px	1.5000em	150.00%
25px	1.5625em	156.25%

*/

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover, 
a:active {
  color: red;
  text-decoration: underline;
}

body {
  margin:0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
  width:792px;
  padding:0.75em;
  margin-right:auto;
  line-height:150%;
  font-size:100%;
}

/* 800 and less */
@media screen and (max-width: 800px) {
  #wrapper {
	width:auto;
    font-size: 100%;
  }
}

/* 720 and less */
@media screen and (max-width: 720px) {
  #wrapper {
    font-size: 87.5%;
  }
}

/* 640 and less */
@media screen and (max-width: 640px) {
  #wrapper {
    font-size: 75%;
  }
}

/* 480 and less*/
@media screen and (max-width: 480px) {
  #wrapper {
    font-size: 50%;
  }
}

#header {
  width:auto;
}

#main {
  width:auto;
}

#footer {
  margin-top:1em;
  padding-bottom: 2em;
  width:auto;
}

#header p, #footer p {
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.125em;
}

.comment {
  font-family:"Courier New",Courier,monospace;
  color:green;
  white-space:nowrap;
  overflow:hidden;
}

.comment a:link, 
.comment a:visited {
  color: blue;
  text-decoration: none;
}

.comment a:hover, 
.comment a:active {
  color: red;
  text-decoration: underline;
}

.post-nav {
  margin-top:1em;
  margin-bottom:2em;
  font-family: "Courier New",Courier,monospace;
  text-align: right;
}

.page, 
.post {
  padding:1em 0;
}

.post-title {
  padding-bottom:0.5em;
  border-bottom: 2px solid #eee;
  font-size:1.125em;
  font-weight:bold;
}

.post ul {
  margin-left:0;
  padding-left:0;
  list-style:none;
}

.post ul li {
  margin-left:0;
  padding-left:0;
}

.post-meta {
  font-size:0.875em;
  color:#888;
}

.cloud, .listing-seperator, .post-title {
  margin-top: 1em;
}

.listing-seperator {
  margin-bottom:0;
  padding-bottom:0;
}

.listing-item {
  margin:0;
  padding:0;
}

.listing-item span {
  font-size:0.95em;
  color: #999;
}

.listing-item a {
  padding-left: 0.5em;
}

.page-nav {
  margin-top: 2em;
  font-family: "Courier New",Courier,monospace;
}

.page-nav .current-page {
  color: red;
}

.highlight {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 0.5em;
  font-size: 0.95em;
}
