---
layout: page
title: Home
---

<div class="listing">
<p class="listing-seperator comment" id="present">// Active at present</p>
{% for post in site.posts %}
{% if post.close == null %}
  <p class="listing-item">
    <span>
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%m/%Y" }} - present</time>
    </span>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </p>
  {% if site.truncate %}
    <p>{{ post.content | strip_html | truncate: site.truncate }}</p>
  {% endif%}
{% endif %}
{% endfor %}
	
{% for post in site.posts %}
{% if post.close %}
  {% capture y %}{{post.close | date:"%Y"}}{% endcapture %}
  {% if year != y %}
    {% assign year = y %}
    <p class="listing-seperator comment" id="{{ y }}">// {{ y }}</p>
  {% endif %}
  <p class="listing-item">
    <span>
      <time datetime="{{ post.close | date:"%Y-%m-%d" }}">{{ post.date | date:"%m/%Y" }} - {{ post.close | date:"%m/%Y" }}</time>
    </span>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </p>    
  {% if site.truncate %}
    <p>{{ post.content | strip_html | truncate: site.truncate }}</p>
  {% endif%}
{% endif %}
{% endfor %}
</div>
