---
layout: default
---

<div class="post">
<div class="post-title">{{ page.title }}</div>
<div class="post-meta">
<span>
{% if post.close == null %}
  {{ post.date | date:"%m/%Y" }} - present
{% else %}
  {{ post.date | date:"%m/%Y" }} - {{ post.close | date:"%m/%Y" }}
{% endif %}
</span>
{% if page.categories.size != 0 %} 
 | 
<span>Categories: 
{% for cat in page.categories %}
	<a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
{% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span>Tags: 
{% for tag in page.tags %}
	<a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
{% endfor %}
</span>
{% endif %}
</div>

{{ content }}

</div>

<div class="post-nav">
	{% if page.previous %} <a href="{{ page.previous.url }}">&lt;PREV</a>
  {% else %} <span>&lt;PREV</span>
  {% endif %}
	|
	{% if page.next %}<a href="{{ page.next.url }}">NEXT&gt;</a>
  {% else %} <span>NEXT&gt;</span>
  {% endif %}
</div>

{% include comments.md %}
